
body {
    padding: 0;
    display: block;

}

h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #3e606b;
}

h2{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #3e606b;
}

h3{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

.hlavicka{
    margin: 0 auto;
}

.uvod{
    padding: 10px;
}

.logo{
    width: 170px;
    padding: 30px 0 30px 0;
}

.menu{
    text-align: center;
}

.menu li {
    display: inline-block;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}


.menu a:hover,
.menu a:focus,
.menu a:active{
    color: white;
    background-color: #f195b2;
}

nav {
    background: #3e606b;
    padding: 5px;
}

nav{
    display: block;
    unicode-bidi: isolate;
}


section {
    padding: 20px 0;
}

.foto{
    float: right;
    margin: 0 0 30px 30px;
    width: 30%;
    max-width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}


/* O mně, praocvní zk */


.levy{
    max-width: 1100px;
    margin: 0 auto;

}

.sloupecl{
    display: flex;
    align-items: center;
}

.sl{
    flex-basis: 50%;
}

.sll{
    padding-right: 30px;
}

/* Kontakt */
.sekceomne{
    background-color:  #f0f0f0;
}

.blok{
    max-width: 1100px;
    margin: 0 auto;
}

/* Patička */
.paticka {
    background-color: #303339;
    color: white;
    text-align: center;
    padding: 10px 0 10px;
    margin-bottom: 0;
}